/* You can add global styles to this file, and also import other style files */

@import '~highlight.js/styles/idea.css';

p code {
  padding: 2px 4px;
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  font-size: 90%;
  color: #008C79;
  background-color: rgba(0,0,0,0.04);
  border-radius: 4px;
}

body {
  font-size: 15px;
}
